html {
    background-color: black;
}
body {
    margin: 0;
}

.responsive {
    height: 100vh;
    width: 60vw;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.btn-dropdown-menu {
    border: none;
    background-color: rgba(250, 250, 250, 0);
}


/* ---------- SECTION1 ---------- */

.section1 {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

.nav-top {
    border: 10px;
    display: flex;
}

.logo {
    margin-top: 10px;
    margin-left: 20px;
}
#brand-logo {
    width: 250px;
    height: auto;
}

.search {
    border: 5px;
    margin-left: auto;
    margin-right: 35px;
}
#icon-search {
    width: 35px;
    height: auto;
    background-color: rgb(250, 250, 250, .8);
    margin-top: 70%;
}

.bag {
    border: 5px;
    margin-right: 50px;
}
#icon-bag {
    width: 35px;
    height: auto;
    background-color: rgb(250, 250, 250, .8);
    margin-top: 70%;
}

.text {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    color: black;
    background-color: rgb(250, 250, 250, .8);
    letter-spacing: .1vw;
    text-transform: uppercase;
    padding-left: 5px;
    padding-right: 5px;
}

.timer {
    text-align: center;
}

/* ---------- SECTION2 ---------- */

.section2 {
    height: 100vh;
    width: 100vw;
}

.wrapper2 {
    display: flex;
    
}

.awareness-txt-box {
    background-color: lightgray;
}

.txt-box {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 15%;
}

p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.8vw;
}


/* ---------- SECTION3 ---------- */

.section3 {
    height: 100vh;
    width: 100vw;
}

.wrapper3 {
    display: flex;
}

.design-txt-box {
    background-color: lightsalmon;
}

/* ---------- SECTION4 ---------- */

.section4 {
    height: 100vh;
    width: 100vw;
}

.wrapper4 {
    display: grid;
    grid-row: 10% 90%;
}

.family-photo img {
    width: 100vw;
    height: auto;
}


footer {
    background-color: orange;
    z-index: +1;
    display: flex;
}

.footer-flex {
    text-align: center;
    padding-top: 10px;
}


.extra {
    background-color: orange;
    margin-left: 50px;
}

.client-service {
    background-color: orange;
}

.company {
    background-color: orange;
}

.social-media {
    background-color: orange;
}

.email-list {
    background-color: orange;
}

.space {
    margin-left: 100px;
}

.txt {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    color: black;
    letter-spacing: .1vw;
    text-transform: uppercase;
    padding-right: 100px;
}